.portfolio
  background: $secondary-color url(../img/portfolio/portfolio-pattern.jpg) repeat-y center left
  background-size: 50%
  &__title
    margin: auto
    margin-bottom: 100px
  &__arrows
    margin: auto
    width: 120px
    display: flex
    justify-content: space-between
  &__slider
    margin-bottom: 68px
.slider
  &__image
    margin: auto
@media ( max-width:  768px)
  .portfolio
    &__title
      min-width: 270px
      margin-bottom: 40px
    &__slider
      margin-bottom: 45px
