@font-face {
  font-family: "Museo Sans Light";
  src: url("../fonts/MuseoSansCyrl/MuseoSansCyrl-300.eot");
  src: url("../fonts/MuseoSansCyrl/MuseoSansCyrl-300.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-300.woff") format("woff"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-300.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Museo Sans Bold";
  src: url("../fonts/MuseoSansCyrl/MuseoSansCyrl-700.eot");
  src: url("../fonts/MuseoSansCyrl/MuseoSansCyrl-700.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-700.woff") format("woff"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-700.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body {
  font-family: 'Museo Sans Light', sans-serif;
  font-weight: 300; }

img {
  max-width: 100%; }

.container {
  width: 1170px;
  margin: auto; }

.button {
  background-color: #ffd200;
  border-radius: 10px;
  border: none;
  padding: 18px 30px; }
  .button:hover {
    background-color: #ffdb33;
    cursor: pointer; }

.section {
  padding: 90px 0; }
  .section-title {
    max-width: 700px;
    font-size: 30px;
    line-height: 45px;
    text-align: center;
    margin: auto;
    margin-bottom: 50px;
    font-family: 'Museo Sans Bold', sans-serif;
    font-weight: 700; }
  .section-subtitle {
    display: block;
    font-size: 20px;
    text-align: center;
    margin-bottom: 59px;
    font-family: 'Museo Sans Light', sans-serif;
    font-weight: 300; }

.input {
  border: 1px solid #dddddd;
  padding: 20px 26px;
  font-size: 16px;
  border-radius: 10px; }

.arrows__left:hover, .arrows__right:hover {
  cursor: pointer; }

@media (max-width: 1200px) {
  .container {
    width: 760px; } }

@media (max-width: 768px) {
  .container {
    max-width: 580px;
    width: 90%; }
  .section {
    padding: 50px 0; }
    .section-title {
      font-size: 18px;
      line-height: 1.2;
      margin-bottom: 27px; }
    .section-subtitle {
      font-size: 14px;
      line-height: 1.2; } }

.navbar {
  padding: 8px 0; }
  .navbar-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .navbar__info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: right; }
  .navbar__adress {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .navbar__button {
    margin-left: 30px; }
  .navbar__phone {
    display: inline-block;
    font-size: 20px;
    color: #333333;
    text-decoration: none;
    margin-top: 10px;
    font-family: 'Museo Sans Bold', sans-serif;
    font-weight: 700; }
  @media (max-width: 768px) {
    .navbar .navbar__contacts {
      display: none; }
    .navbar .navbar__button {
      font-size: 12px;
      padding: 15px 26px; }
    .navbar .navbar__logo {
      width: 90px; } }

.hero {
  padding: 50px 0;
  background-color: #f5f5f5; }
  .hero-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .hero-text {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    padding-right: 100px; }
    .hero-text__title {
      font-size: 35px;
      line-height: 55px;
      margin-bottom: 40px;
      font-family: 'Museo Sans Bold', sans-serif;
      font-weight: 700; }
    .hero-text__subtitle {
      display: inline-block;
      font-size: 20px;
      margin-bottom: 70px;
      font-family: 'Museo Sans Bold', sans-serif;
      font-weight: 700; }
  .hero-list {
    margin: 0;
    padding: 0; }
    .hero-list__item {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      margin-bottom: 25px; }
      .hero-list__item:last-child {
        margin-bottom: 0; }
    .hero-list__image {
      width: 40px;
      height: 40px;
      border: 2px solid #ffd200;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      border-radius: 50%;
      margin-right: 30px; }
    .hero-list__text {
      max-width: 300px; }

@media (max-width: 1200px) {
  .hero-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .hero-list {
    margin-bottom: 45px; }
  .hero-text {
    padding-right: 10px; } }

@media (max-width: 768px) {
  .hero-text__title {
    font-size: 24px;
    line-height: 1.2;
    margin-bottom: 15px; }
  .hero-text__subtitle {
    font-size: 16px;
    line-height: 1.2;
    margin-bottom: 30px; }
  .hero-list__item {
    margin-bottom: 20px; }
  .hero-list__image {
    margin-right: 15px; }
  .hero-list__text {
    font-size: 12px;
    line-height: 1.2;
    max-width: 200px; } }

.offer {
  background: url("../img/offer/offer-bg.png") no-repeat;
  background-position: center right;
  background-size: contain;
  position: relative; }
  .offer:before {
    content: '';
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #fff; }
  .offer-block {
    width: 50%;
    padding-right: 90px;
    position: relative; }
  .offer__title {
    line-height: 35px;
    max-width: 350px;
    margin-left: 0;
    margin-bottom: 24px;
    text-align: left; }
  .offer__subtitle {
    display: block;
    width: 250px;
    margin-left: 0;
    margin-bottom: 30px;
    text-align: left; }
  .offer__input {
    margin-bottom: 30px;
    width: 240px; }
    .offer__input:first-child {
      margin-right: 10px; }
  .offer__button {
    width: 100%;
    min-height: 70px;
    margin-bottom: 30px; }
  .offer__info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .offer__text {
    font-size: 15px;
    line-height: 24px;
    margin-right: 70px;
    font-family: 'Museo Sans Light', sans-serif;
    font-weight: 300; }
  .offer__callback {
    font-size: 15px;
    line-height: 24px;
    font-family: 'Museo Sans Light', sans-serif;
    font-weight: 300; }
  .offer__phone {
    display: inline-block;
    font-size: 15px;
    line-height: 24px;
    color: #333333;
    text-decoration: none;
    font-family: 'Museo Sans Bold', sans-serif;
    font-weight: 700; }

@media (max-width: 1200px) {
  .offer {
    background-size: cover; }
    .offer__input {
      width: 100%;
      margin-bottom: 10px; }
    .offer__button {
      font-size: 13px; } }

@media (max-width: 768px) {
  .offer {
    background: #fff; }
    .offer-block {
      width: 100%;
      padding-right: 0; }
    .offer__title {
      line-height: 1.2; } }

@media (max-width: 1200px) and (min-width: 768px) {
  .offer__info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .offer__text {
    margin-bottom: 15px; } }

@media (max-width: 480px) {
  .offer__info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .offer__text {
    margin-bottom: 15px;
    width: 224px; }
  .offer__callback {
    display: block; } }

.portfolio {
  background: #f5f5f5 url(../img/portfolio/portfolio-pattern.jpg) repeat-y center left;
  background-size: 50%; }
  .portfolio__title {
    margin: auto;
    margin-bottom: 100px; }
  .portfolio__arrows {
    margin: auto;
    width: 120px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .portfolio__slider {
    margin-bottom: 68px; }

.slider__image {
  margin: auto; }

@media (max-width: 768px) {
  .portfolio__title {
    min-width: 270px;
    margin-bottom: 40px; }
  .portfolio__slider {
    margin-bottom: 45px; } }

.price__card {
  margin-bottom: 30px; }

.price__image {
  display: block; }

.card {
  text-align: center;
  border: 1px solid #e8e8e8;
  -webkit-transition: 0.2s;
  transition: 0.2s; }
  .card:hover {
    -webkit-box-shadow: 0px 20px 25px 0px rgba(0, 0, 0, 0.1);
            box-shadow: 0px 20px 25px 0px rgba(0, 0, 0, 0.1); }
  .card__text {
    padding: 40px; }
  .card__title {
    margin-top: 0; }
  .card__image {
    position: relative; }
    .card__image:hover::before {
      opacity: 0.8; }
    .card__image::before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-image: -webkit-gradient(linear, left bottom, left top, from(#ffd200), to(rgba(255, 255, 255, 0)));
      background-image: linear-gradient(to top, #ffd200 0%, rgba(255, 255, 255, 0) 100%);
      opacity: 0;
      -webkit-transition: 0.2s;
      transition: 0.2s; }
  .card__link {
    display: inline-block;
    text-decoration: none;
    color: #333333;
    font-size: 16px;
    position: relative;
    font-family: 'Museo Sans Bold', sans-serif;
    font-weight: 700; }
    .card__link:hover::after {
      height: 13px; }
    .card__link::after {
      content: '';
      position: absolute;
      z-index: -1;
      bottom: -4px;
      left: 0;
      display: block;
      width: 100%;
      height: 3px;
      background-color: #ffd200;
      -webkit-transition: 0.2s;
      transition: 0.2s; }
  .cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }

@media (max-width: 768px) {
  .cards {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; } }

.steps {
  padding-top: 0; }
  .steps-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }

.step {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative; }
  .step::after {
    content: url("../img/steps/steps_arrow.png");
    position: absolute;
    right: -90px;
    top: -10px; }
  .step:last-child::after {
    content: ''; }
  .step__image {
    width: 100px;
    height: 100px;
    border: 3px solid #ffd200;
    border-radius: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 30px; }
  .step__text {
    width: 160px;
    font-size: 14px;
    line-height: 20px;
    margin: 0;
    text-align: center; }

@media (max-width: 1200px) {
  .step::after {
    right: -50px; }
  .step__text {
    width: 130px;
    font-size: 12px;
    line-height: 16px; } }

@media (max-width: 768px) {
  .steps-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .steps__subtitle {
    margin-bottom: 34px; }
  .step {
    margin-bottom: 30px; }
    .step::after {
      content: ''; } }

.attention {
  background-color: #ffd200; }
  .attention__title {
    margin: auto;
    width: 900px;
    max-width: 90%; }

.help__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.help__text {
  font-size: 16px;
  line-height: 23px; }

@media (max-width: 1200px) {
  .help__items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .help__item {
    margin-bottom: 30px; } }

.guarantee {
  padding-top: 0; }
  .guarantee__title {
    margin-bottom: 90px; }
  .guarantee__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .guarantee__image {
    margin-bottom: 40px; }
  .guarantee__text {
    width: 275px;
    font-size: 17px;
    line-height: 24px;
    text-align: center; }

@media (max-width: 1200px) {
  .guarantee__items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .guarantee__item {
    margin-bottom: 40px; }
  .guarantee__image {
    margin-bottom: 30px; } }

@media (max-width: 768px) {
  .guarantee__title {
    margin-bottom: 50px; } }

.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none; }
  .modal_active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .modal-dialog {
    position: relative;
    margin: auto;
    max-width: 400px;
    width: 90%;
    min-width: 200px;
    background-color: #fff;
    padding: 40px; }
    .modal-dialog__close {
      position: absolute;
      top: 0;
      right: 0; }
/*# sourceMappingURL=style.css.map */